.shad {
    -moz-box-shadow: 0 2px 5px rgb(139, 139, 139);
    -webkit-box-shadow: 0 0 5px rgb(139, 139, 139);
    box-shadow: 0 2 5px rgb(139, 139, 139);
    }
    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
    }
    
    .swiper-container:hover .swiper-button-prev,
    .swiper-container:hover .swiper-button-next {
        display: flex !important;
    }
    a:hover {
    color: orange;
    }
    .headermax{
        height: 400px;
    }
    @media (max-width: 600px) {
    .headermax {
        height: 250px;
    }
    }
    .imgh{
        height: 250px;
    }
    @media (max-width: 800px) {
    .imgh {
        height: 200px;
    }
    }
    @media (max-width: 600px) {
    .imgh {
        height: 150px;
    }
    }
    .imgb{
        height:160px;
    }
    @media (max-width: 800px) {
    .imgb {
        height:120px;
    }
    }
    @media (max-width: 600px) {
    .imgb {
        height:100px;
    }
    }
    .fontn{
        font-size: 14px;
    }
    @media (max-width: 600px) {
    .fontn {
        font-size: 12px;
    }
    }
    .logo{
        height: 180px;
        width: 180px;
        border-radius:50%;
        display:none
    }
    @media (max-width: 800px) {
    .logo {
        height: 90px;
        width: 90px;
        border-radius:50%;
        display:block
    }
    }
    @media (max-width: 600px) {
    .logo {
        height: 75px;
        width: 75px;
        border-radius:50%;
        display:block
    }
    }
    .nombre{
        font-size: 50px;
        font-weight: bold
    }
    @media (max-width: 800px) {
    .nombre {
        font-size: 32px;
        font-weight: bold
    }
    }
    @media (max-width: 600px) {
    .nombre {
        font-size: 18px;
        font-weight: bold;
        margin-top: 30px
    }
    }
    .divnombre{
        top: 25%;
        bottom: 0;
        margin-left: -120px
    }
    @media (max-width: 800px) {
    .divnombre {
        top: 30%;
        bottom: 0;
        margin-left: 10px
    }
    }
    @media (max-width: 600px) {
    .divnombre {
        top: 30%;
        bottom: 0;
        margin-left: 10px
    }
    }
    .infobanner{
        display: none;
    }
    @media (max-width: 800px) {
    .infobanner {
        display: block;
    }
    }
    @media (max-width: 600px) {
    .infobanner {
        display: block;
    }
    }

    .infotienda{
        display: block;
    }
    @media (max-width: 800px) {
    .infotienda {
        display: none;
    }
    }
    @media (max-width: 600px) {
    .infotienda {
        display: none;
    }
    }

    .icono{
        font-size: 2.5rem;
        margin: auto;
    }
    @media (max-width: 800px) {
    .icono {
        font-size: 2rem;
        margin-left: 0px;
    }
    }
    @media (max-width: 600px) {
    .icono {
        font-size: 1.5rem;
        margin-left: 0px;
    }
    }

    a.btnb{
        margin-bottom: 15px;
        border-radius: 10%;
        margin: 0.5rem;
    }
    @media (max-width: 800px) {
    a.btnb {
        padding: 10px;
        margin: 0.5rem;
        margin-bottom: 10px;
    }
    }
    @media (max-width: 600px) {
    a.btnb {
        padding: 8px;
        margin: 0.5rem;
        margin-bottom: 10px;
    }
    }

    .shad3
      {
        -moz-box-shadow: 0 0 10px #c5c5c5;
        -webkit-box-shadow: 0 0 10px #c5c5c5;
        box-shadow: 0 0 10px #c5c5c5;
      }

      .montserrat{
        font-family: 'Montserrat', sans-serif;
      }