.shad {
    -moz-box-shadow: 0 2px 5px rgb(139, 139, 139);
    -webkit-box-shadow: 0 0 5px rgb(139, 139, 139);
    box-shadow: 0 2 5px rgb(139, 139, 139);
    }
    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
    }
    
    .swiper-container:hover .swiper-button-prev,
    .swiper-container:hover .swiper-button-next {
        display: flex !important;
    }
    a:hover {
    color: orange;
    }
    .headermax{
        height: 400px;
    }
    @media (max-width: 600px) {
    .headermax {
        height: 250px;
    }
    }
    .imgh{
        height: 250px;
    }
    @media (max-width: 800px) {
    .imgh {
        height: 200px;
    }
    }
    @media (max-width: 600px) {
    .imgh {
        height: 150px;
    }
    }
    .imgp{
        height: 90px;
        width: 70px;
    }
    @media (max-width: 800px) {
    .imgp {
        height: 80px;
        width: 60px;
    }
    }
    @media (max-width: 600px) {
    .imgp {
        height: 55px;
        width: 40px;
    }
    }
    .tiendah{
        height: 320px;
    }
    @media (max-width: 600px) {
    .tiendah {
        height: 270px;
    }
    }
    .imgb{
        height:160px;
    }
    @media (max-width: 800px) {
    .imgb {
        height:120px;
    }
    }
    @media (max-width: 600px) {
    .imgb {
        height:100px;
    }
    }
    .fontn{
        font-size: 11px;
    }
    @media (max-width: 600px) {
    .fontn {
        font-size: 9px;
    }
    }
    .logo{
        height: 180px;
        width: 180px;
        border-radius:50%;
        display:none;
        margin: 10px 50px;
    }
    @media (max-width: 800px) {
    .logo {
        height: 90px;
        width: 90px;
        border-radius:50%;
        margin: 10px 30px;
        display:block
    }
    }
    @media (max-width: 600px) {
    .logo {
        height: 75px;
        width: 75px;
        border-radius:50%;
        margin: 10px 10px;
        display:block
    }
    }
    .logotienda{
        height: 90px;
        width: 90px;
        border-radius:50%;
        display:none
    }
    @media (max-width: 800px) {
    .logotienda {
        height: 80px;
        width: 80px;
        border-radius:50%;
        display:block
    }
    }
    @media (max-width: 600px) {
    .logotienda {
        height: 65px;
        width: 65px;
        border-radius:50%;
        display:block
    }
    }
    .nombre{
        font-size: 50px;
        font-weight: bold
    }
    @media (max-width: 800px) {
    .nombre {
        font-size: 30px;
        font-weight: bold
    }
    }
    @media (max-width: 600px) {
    .nombre {
        font-size: 16px;
        font-weight: bold;
        margin-top: 30px;
        margin-left: -40px;
    }
    }
    .divnombre{
        top: 25%;
        bottom: 0;
        margin-left: -120px
    }
    @media (max-width: 800px) {
    .divnombre {
        top: 30%;
        bottom: 0;
        margin-left: 10px
    }
    }
    @media (max-width: 600px) {
    .divnombre {
        top: 30%;
        bottom: 0;
        margin-left: 10px
    }
    }
    .infobanner{
        display: none;
    }
    @media (max-width: 800px) {
    .infobanner {
        display: block;
    }
    }
    @media (max-width: 600px) {
    .infobanner {
        display: block;
    }
    }

    .infotienda{
        display: block;
    }
    @media (max-width: 800px) {
    .infotienda {
        display: none;
    }
    }
    @media (max-width: 600px) {
    .infotienda {
        display: none;
    }
    }
    .infotienda1{
        display: none;
    }
    @media (max-width: 800px) {
    .infotienda1 {
        display: block;
    }
    }
    @media (max-width: 600px) {
    .infotienda1 {
        display: block;
    }
    }

    .icono{
        font-size: 2.5rem;
        margin: auto;
    }
    @media (max-width: 800px) {
    .icono {
        font-size: 2rem;
        margin-left: 0px;
    }
    }
    @media (max-width: 600px) {
    .icono {
        font-size: 1.5rem;
        margin-left: 0px;
    }
    }
    .icono1{
        font-size: 2rem;
        margin: auto;
    }
    @media (max-width: 800px) {
    .icono1 {
        font-size: 1.9rem;
        margin-left: 0px;
        margin-top: 5px;
    }
    }
    @media (max-width: 600px) {
    .icono1 {
        font-size: 1.7rem;
        margin-left: 0px;
        margin-top: 5px;
    }
    }

    a.btnb{
        margin-bottom: 15px;
        border-radius: 10%;
        margin: 0.5rem;
    }
    @media (max-width: 800px) {
    a.btnb {
        padding: 10px;
        margin: 0.5rem;
        margin-bottom: 10px;
    }
    }
    @media (max-width: 600px) {
    a.btnb {
        padding: 8px;
        margin: 0.5rem;
        margin-bottom: 10px;
    }
    }

    .shad3
      {
        -moz-box-shadow: 0 0 10px #c5c5c5;
        -webkit-box-shadow: 0 0 10px #c5c5c5;
        box-shadow: 0 0 10px #c5c5c5;
      }

      .montserrat{
        font-family: 'Montserrat', sans-serif;
      }
      
      *{
        font-family: 'Montserrat', sans-serif;
      }
      .medium11{
          font-weight: 500;
          font-size: 11px;
      }
      .medium12{
        font-weight: 500;
        font-size: 12px;
    }
      .medium13{
        font-weight: 500;
        font-size: 13px;
    }
      .bold12{
        font-size: 12px;
        font-weight: 700;
      }
      .bold15{
        font-weight: 700;
        font-size: 15px;
      }
      .bold16{
        font-weight: 700;
        font-size: 16px;
      }
      .bold20{
        font-weight: 700;
        font-size: 20px;
      }
      .xlight12{
        font-weight:200;
        font-size: 12px;
    }
    .xlight11{
        font-weight:200;
        font-size: 11px;
    }
    .light11{
        font-weight: 300;
        font-size: 11px;
    }
    .xlight10{
        font-weight: 200;
        font-size: 10px;
    }
    .light12{
        font-weight: 300;
        font-size: 12px;
    }
      .regular11{
        font-weight: 400;
        font-size: 11px;
    }
    .regular12{
        font-weight: 400;
        font-size: 12px;
    }
    .regular15{
        font-weight: 400;
        font-size: 15px;
    }
    .regular9{
        font-weight: 400;
        font-size: 9px;
    }
    .regular10{
        font-weight: 400;
        font-size: 10px;
    }
    .regular13{
        font-weight: 400;
        font-size: 13px;
    }
    @media (max-width: 800px) {
    .regular13 {
        font-weight: 400;
        font-size: 11px;
    }
    }
    @media (max-width: 600px) {
    .regular13 {
        font-weight: 400;
        font-size: 11px;
    }
    }
    
    .prodh{
        height: 500px;
    }
    @media (max-width: 800px) {
    .prodh {
        height: 400px;
    }
    }
    @media (max-width: 600px) {
    .prodh {
        height: 300px;
    }
    }

    .colw{
        padding-left:5px;
        padding-right:5px;
    }
    @media (max-width: 800px) {
    .colw {
        padding-left:0px;
        padding-right:0px;
    }
    }
    @media (max-width: 600px) {
    .colw {
        padding-left:0px;
        padding-right:0px;
    }
    }

    .ontop1{
        margin-top:-60px;
    }
    @media (max-width: 800px) {
    .ontop1 {
        margin-top:-45px;
    }
    }
    @media (max-width: 600px) {
    .ontop1 {
        margin-top:-30px;
    }
    }

    .ontop2{
        margin-top:-100px
    }
    @media (max-width: 800px) {
    .ontop2 {
        margin-top:10px;
    }
    }
    @media (max-width: 600px) {
    .ontop2 {
        margin-top:10px;
    }
    }

    .ontop3{
        margin-top:120px
    }
    @media (max-width: 800px) {
    .ontop3 {
        margin-top:10px;
    }
    }
    @media (max-width: 600px) {
    .ontop3 {
        margin-top:10px;
    }
    }

    .leftnameprod{
        margin-left:60px;
        font-weight: 700;
        font-size: 20px;
    }
    @media (max-width: 800px) {
    .leftnameprod {
        margin-left:40px;
        font-weight: 700;
        font-size: 18px;
    }
    }
    @media (max-width: 600px) {
    .leftnameprod {
        margin-left:20px;
        font-weight: 700;
        font-size: 15px;
    }
    }
    .desc p{
        font-weight: 300;
        font-size: 13px;
        color: rgb(65, 65, 65);
    }
    @media (max-width: 800px) {
    .desc p {
        font-weight: 300;
        font-size: 11px;
        color: rgb(65, 65, 65);
    }
    }
    @media (max-width: 600px) {
    .desc p {
        font-weight: 300;
        font-size: 11px;
        color: rgb(65, 65, 65);
    }
    }

    .btnbannerprod{
        right:10%;
        bottom:43%;
    }
    @media (max-width: 800px) {
    .btnbannerprod {
        right:10%;
        bottom:60%;
    }
    }
    @media (max-width: 600px) {
    .btnbannerprod {
        right:10%;
        bottom:60%;
    }
    }